<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191722495448-6n17mf4q72pgqvtos02lol2b3q1b0okl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191722495448-6n17mf4q72pgqvtos02lol2b3q1b0okl</string>
	<key>API_KEY</key>
	<string>AIzaSyBnEDFi4HrgP-IPDF86xdQYajt5klSuWTI</string>
	<key>GCM_SENDER_ID</key>
	<string>191722495448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackerserrant.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-a8a5c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-a8a5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191722495448:ios:fe4b58623b2c25d9</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-a8a5c.firebaseio.com</string>
</dict>
</plist>